<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('admin') }}">Admin</a>
        <a href="{{ url_for('reservation') }}">Reservations</a>
    </nav>

    <hr>
    <h1>Admin Login</h1>
    
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username">

        <br>
        <br>

        <label for="password">Password:</label>
        <input type="text" id="password">

        <br>
        <br>

        <input type="submit" value="login">
    </form>
</body>
</html>
